<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         displayDetailsOnTestsThatTriggerWarnings = "true"
>
  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
    <exclude>
      <directory suffix=".php">src/Exception/</directory>
    </exclude>
  </source>

  <testsuites>
    <testsuite name="App Test Suite">
      <directory>tests/</directory>
    </testsuite>
  </testsuites>

  <php>
    <env name="APP_ENV" value="test" />
    <env name="APP_DEBUG" value="1" />
  </php>
</phpunit>