<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Dobrodošli na PHP Meetup</title>
</head>
<body>
    <h1>Dobrodošli na našu javnu stranicu!</h1>
    <p>Ovo je sadržaj koji vide svi posjetitelji.</p>
    
    <hr>
    
    <p>Želite vidjeti tajne podatke?</p>
    <!-- Link na login rutu koju je generirao make:auth -->
    <a href="{{ path('app_login') }}" style="padding: 10px; background: #eee; border: 1px solid #ccc; text-decoration: none;">
        Prijavi se ovdje
    </a>
</body>
</html>